{% extends 'base.html.twig' %}

{% block title %}Anna Zatsarynska{% endblock %}

{% block body %}

    <div class="page-wrap">

        <!-- Main -->
        <section id="main">
            <!-- Banner -->
            <section id="banner">

                <div id="banner-wrapper">
                <div id="header">
                    <div>
                        <p>
                            <a href="{{ path("price") }}">Price</a>
                        </p>
                    </div>
                    <div>
                        <p>
                            <a href="https://www.instagram.com/anna__zacarinskaya/" target="_blank">Instagram</a>
                        </p>
                    </div>
                </div>

                <div class="inner">
                    <h1>Photography Anna Zatsarynska</h1>
                    <h2>la beauté est vraie</h2>
                </div>
                </div>
            </section>

            <!-- Gallery -->
            <section id="galleries">
                <div id="gallery" class="zoomwall">
                    <img src="{{ asset('images/thumbs/01.jpg') }}" data-highres="{{ asset('images/thumbs/01.jpg') }}"/>
                    <img src="{{ asset('images/thumbs/01.jpg') }}" data-highres="{{ asset('images/thumbs/01.jpg') }}"/>
                </div>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Anna Zatsarynska
                </div>
            </footer>
        </section>
    </div>
{% endblock %}
