{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-wrap">

        <!-- Main -->
        <section id="main">
            <!-- Banner -->
            <section id="banner">

                <div id="banner-wrapper">
                <div id="header">
                    <div>
                        <p>
                            <a href="https://www.instagram.com/anna__zatsarinskaya/" target="_blank">Instagram</a>
                        </p>
                    </div>
                    <div>
                        <p>
                            <a href="{{ path("price") }}">Price</a>
                        </p>
                    </div>
                </div>

                <div class="inner">
                    <h1>Photography Anna Zatsarinskaya</h1>
                    <h2>la beauté est vraie</h2>
                </div>
                </div>
            </section>

            <!-- Gallery -->
            <section id="galleries">
                <div id="gallery" class="zoomwall">
                    {% for thumb in thumbs %}
                        {% if thumb.width > 50 %}
                        {% set classname = 'thumb-bg' %}
                        {% else %}
                            {% set classname = 'thumb-sm' %}
                            {% endif %}
                        <img class="{{ classname }}" srcset="{{ asset('images/thumbs/' ~ thumb.image) }} 250w, {{ asset('images/thumbs/' ~ thumb.image) }} 1280w"
                             sizes="100vw" src="{{ asset('images/thumbs/' ~ thumb.image) }}" data-sizes="(max-width: 1280px) 250px, 1280px"
                            style="height: auto;" alt="{{ thumb.description }}">
                    {% endfor %}
                </div>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Anna Zatsarinskaya
                </div>
            </footer>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}
