{% extends 'base.html.twig' %}

{% block body %}
    <a id="top"></a>

    <div class="page-wrap">

        <!-- Main -->
        <section id="main">
            <!-- Banner -->
            <section id="banner" style="
                    background-image: url({{ banner.path | default("")| raw}});
                    -moz-background-image: url({{ banner.path | default("")}});
                    ">

                <div id="banner-wrapper">
                <div id="header">
                    {% for menu_item in menu_items %}
                    <div>
                        <p>
                            {% autoescape %}
                            <a href="{{ menu_item.itemLink }}">{{ menu_item.itemName }}</a>
                            {% endautoescape %}
                        </p>
                    </div>
                    {% endfor %}
                </div>

                <div class="inner">
                    <h1>Photography Anna Zatsarinskaya</h1>
                    <h2>la beauté est vraie</h2>
                </div>
                </div>
            </section>

            <!-- Gallery -->
            <section id="galleries">
                <div id="gallery" class="zoomwall">
                    {% for thumb in thumbs %}
                        {% if thumb.width > 50 %}
                        {% set classname = 'thumb-bg' %}
                        {% else %}
                            {% set classname = 'thumb-sm' %}
                            {% endif %}
                        <img class="{{ classname }}" srcset="{{ asset('images/thumbs/' ~ thumb.image) }} 250w, {{ asset('images/thumbs/' ~ thumb.image) }} 1280w"
                             sizes="100vw" src="{{ asset('images/thumbs/' ~ thumb.image) }}" data-sizes="(max-width: 1280px) 250px, 1280px"
                            style="height: auto;" alt="{{ thumb.description }}">
                    {% endfor %}
                </div>
                <a href="#top" class="top-of-site-link" data-visible="true">
                    <span class="screen-reader-text">Back to Top</span>
                    <svg width="32" height="32" viewBox="0 0 100 100">
                        <path fill="grey" d="m50 0c-13.262 0-25.98 5.2695-35.355 14.645s-14.645 22.094-14.645 35.355 5.2695 25.98 14.645 35.355 22.094 14.645 35.355 14.645 25.98-5.2695 35.355-14.645 14.645-22.094 14.645-35.355-5.2695-25.98-14.645-35.355-22.094-14.645-35.355-14.645zm20.832 62.5-20.832-22.457-20.625 22.457c-1.207 0.74219-2.7656 0.57812-3.7891-0.39844-1.0273-0.98047-1.2695-2.5273-0.58594-3.7695l22.918-25c0.60156-0.61328 1.4297-0.96094 2.2891-0.96094 0.86328 0 1.6914 0.34766 2.293 0.96094l22.918 25c0.88672 1.2891 0.6875 3.0352-0.47266 4.0898-1.1562 1.0508-2.9141 1.0859-4.1133 0.078125z"></path>
                    </svg>
                </a>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Anna Zatsarinskaya
                </div>
            </footer>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}
