{% extends 'base.html.twig' %}

{% block title %}Anna Zatsarynska{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block body %}

    <div class="page-wrap">

        <!-- Main -->
        <section id="main">
            <!-- Banner -->
            <section id="banner">

                <div id="banner-wrapper">
                <div id="header">
                    <div>
                        <p>
                            <a href="{{ path("price") }}">Price</a>
                        </p>
                    </div>
                    <div>
                        <p>
                            <a href="https://www.instagram.com/anna__zacarinskaya/" target="_blank">Instagram</a>
                        </p>
                    </div>
                </div>

                <div class="inner">
                    <h1>Photography Anna Zatsarynska</h1>
                    <h2>la beauté est vraie</h2>
                </div>
                </div>
            </section>

            <!-- Gallery -->
            <section id="galleries">

                <!-- Photo Galleries -->
                <div class="gallery">
                    <div class="content">
                        <div class="media">
                            <a href="{{ asset('images/fulls/01.jpg')  }}"><img src=" {{ asset('images/thumbs/01.jpg')  }}" alt="" title="This right here is a caption." /></a>
                        </div>
                        <div class="media">
                            <a href=" {{ asset('images/fulls/05.jpg') }}"><img src="{{ asset('images/thumbs/05.jpg') }}" alt="" title="This right here is a caption." /></a>
                        </div>
                        <div class="media">
                            <a href="{{ 'images/fulls/09.jpg' }}"><img src="{{ asset('images/thumbs/09.jpg') }}" alt="" title="This right here is a caption." /></a>
                        </div>
                        <div class="media">
                            <a href="{{ asset('images/fulls/02.jpg') }}"><img src="{{ asset('images/thumbs/02.jpg') }}" alt="" title="This right here is a caption." /></a>
                        </div>
                        <div class="media">
                            <a href="{{ asset('images/fulls/06.jpg') }}"><img src="{{ asset('images/thumbs/06.jpg') }}" alt="" title="This right here is a caption." /></a>
                        </div>
                    </div>
                    <footer>
                        <button href="{{ path('full_gallery') }}" class="button big">Full Gallery</button>
                    </footer>
                </div>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Anna Zatsarynska
                </div>
            </footer>
        </section>
    </div>

{% endblock %}
