{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-wrap">

        <!-- Main -->
        <section id="main">
            <!-- Banner -->
            <section id="banner">

                <div id="banner-wrapper">
                <div id="header">
                    <div>
                        <p>
                            <a href="{{ path("price") }}">Price</a>
                        </p>
                    </div>
                    <div>
                        <p>
                            <a href="https://www.instagram.com/anna__zacarinskaya/" target="_blank">Instagram</a>
                        </p>
                    </div>
                </div>

                <div class="inner">
                    <h1>Photography Anna Zatsarynska</h1>
                    <h2>la beauté est vraie</h2>
                </div>
                </div>
            </section>

            <!-- Gallery -->
            <section id="galleries">
                <div id="gallery" class="zoomwall">
                    {% for thumb in thumbs %}
                        <img srcset="{{ asset('images/thumbs/' ~ thumb.image) }} 250w, {{ asset('images/thumbs/' ~ thumb.image) }} 1280w"
                             sizes="100vw" src="{{ asset('images/thumbs/' ~ thumb.image) }}" data-sizes="(max-width: 1280px) 250px, 1280px"
                            style="width: {{ thumb.width }}%; height: auto;" alt="{{ thumb.description }}">
                    {% endfor %}
                </div>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Anna Zatsarynska
                </div>
            </footer>
        </section>
    </div>
{% endblock %}
